$color1: orange;
$color2: darkorange;

$ancho1: width 619px;
$ancho2: width 618px;

body{
    @if $ancho1 ≥ $ancho2 {background-color: $color1}
    @if $ancho1 ≤ $ancho2 {background-color: $color2}
}
.fondo-nav{
    background-image: url(/assets/img/1583867671316.jpg);
    background-size: cover;
    background-position: center;
}
.jumbotron{
    color:rgb(252, 255, 252)
    border-radius 0%;
}
.navbar-brand{
    font-size: 27px;
    font-weight: bold;
}
.nav-item{
    font-size: 20px;
    font-weight: bold;
}
main{
    height: 50%;
    width: 100%;
    background-color: rgb(255, 149, 0);

}
.texto{
    @if $ancho1 ≥ $ancho2 {background-color: $color1};
    @if $ancho1 ≤ $ancho2 {background-color: $color2};
    float: center;
    width: 100%;

}
.video{
    text-align: center;
    color: blanchedalmond;
    font-weight: bold;
}
footer{
    min-height: 90px;
    width: 100%;
    background-color: orange;
    text-align: center;
    font-size: 25px;
}
.fotter p{
    margin-bottom: 20px;
}
footer i{
    color: darkred;
    font-size: 35px;
    letter-spacing: 20px;
}
.redes{
    text-align: center;
}
